{% extends "layouts/issue.njk" %}
{% block style %} 
  <style>
    #wrapper {width: 925px;}
  </style>
{% endblock %}
      {% block content %}
          <section class="prose">
            <h2 class="title">&quot;When We Thought We'd Live Forever.&quot;</h2>
            <p>It was me, her...</p>
            <p>The bobby soxers. The attaboys.</p>
            <p>We smoked jazz cigarettes and took pictures,<br>
              hoping that somehow it would last longer than it was supposed to<br>
              but it never did.</p>
            <p>The future was cruel, knocking us down one by one...</p>
            <p>I saw Ruth just the other day. She's still a looker but only I and those who are left ever had<br>
              the pleasure of witnessing her in the prime of her pulchritude.</p>
            <p>Her soft skin glowed as if she had the sun on a leash.<br>
              Her eyes beamed, a no nonsense glare that could cut a man in half.<br>
              Her breasts swayed gently every time she made a gesture with her hands...<br>
              which was often.</p>
            <p>We once slept together during the summer,<br>
              after a night of gallery hopping, whiskey and dumplings.</p>
            <p>We stumbled home glued at the hip. Giggling and singing &ldquo;Mercedes Benz&rdquo; so loud, the<br>
              dark windows above became lit and populated with aggravated shadows.</p>
            <p>She would later tell me in the following winter, hiding her blushing cheeks behind an
            <br>oversized mug of cocoa,</p>
            <p>&ldquo;It was the way you held me that night, all the way home, you held me. Even when I'd let go,
            <br>you held me. I was drunk... but it meant something. It meant a lot.</p>

            <p>And you weren't sweaty.
            <br>You're always sweaty. [Laughs]&rdquo;</p>

            <p>We remained close, cuddling in between relationships but never pushing the boundaries of
            <br>our own.</p>

            <p>She has a family now, a neglectful husband and an eight year-old daughter she loves to bits.</p>

            <p>She no longer finds time to stumble with me. But whenever we see one another in passing,
            <br>we hug a little longer than we should, as if to say,</p>

            <p>&ldquo;I miss you
            <br>and somewhere in time we're still stumbling,
            <br>hip to hip,
            <br>never letting go.&rdquo;</p>

          </section>
          <section class="prose bio">
            <small>Hailing from the southeast section of the Bronx, Akeem K. Duncan is inspired by an off-kilter harmony of love, drugs, instinct and generational existentialism. His work usually comes in the form of what he affectionately refers to as &ldquo;receipt poems,&rdquo; brief but sweet excerpts scribbled on the back of pieces of paper. He is also an entrepreneur, an aspiring curator and currently heads a grassroots art magazine titled Quiet Lunch.</small>
          </section>  
      {% endblock %}