{% extends "layouts/issue.njk" %}
      {% block content %}
          <figure>
            <img src="../images/no13/racoon.jpg" alt="racoon in snow" height="692" width="680"><figcaption><em>Racoon</em> 1999 oil on wood 11 x 16in.</figcaption> 
          </figure>
          <section class="prose bio">
            <small>After growing up in Elizabeth, New Jersey and studying art at Carnegie Mellon University, I moved to New York City where I have been living ever since. My paintings reflect my early career as freelance illustrator. I have been showing them in galleries in New York and elsewhere in the U.S.</small>
          </section> 
      {% endblock %}