{% extends "layouts/issue.njk" %}
      {% block content %}
          <section class="poem">
            <h2 class="title">Rene Ricard Dream</h2>
            <p>In the dream I had last night
            <br>I was crossing the road in London
            <br>(I think it was Mile End Road)
            <br>when I literally bumped into Rene Ricard.</p>

            <p>He was carrying a load of notebooks
            <br>and other personal items. He pushed them
            <br>into my hands, saying, I think
            <br>you could use these. I walked on</p>

            <p>carrying them and stepped into a pub
            <br>where I could sit down and read them.
            <br>I was well aware that what had just
            <br>happened was extraordinary since </p>

            <p>I knew in the dream that he had died.
            <br>I was amazed that I had been chosen
            <br>to receive these things since although
            <br>I had met Rene I did not &ldquo;know&rdquo; him.</p>

            <p>Apparently the pub that I&rsquo;d found
            <br>was one where he was a regular
            <br>because the people there recognized
            <br>that the stuff I had was his and they</p>

            <p>asked about that. They didn&rsquo;t show suspicion
            <br>but wonderment. The next thing I knew
            <br>I was at my friend Scott&rsquo;s house
            <br>in Islington, still with Rene&rsquo;s stuff,</p>

            <p>telling Scott what had happened
            <br>but he didn&rsquo;t know who Rene was
            <br>and I had to explain it to him. On 
            <br>waking, I began to wonder</p> 

            <p>whether Rene had ever actually lived 
            <br>in London. Somehow I doubt it.</p> 
            </section>
            <section class="poem">
            <h2 class="title">Postscript to Rene Ricard Dream</h2>

            <p>Sage Robert advises that my dream
            <br>could mislead&mdash;&ldquo;if it implies that Rene
            <br>was a great poet, which he was not,
            <br>imo. He had rare talents</p>

            <p>but they lay elsewhere.&rdquo; To live
            <br>in strangers&rsquo; dreams is talent indeed.
            <br>But is the Rene Ricard of my dream
            <br>Rene Ricard in person? Nothing</p>

            <p>in dreams is entirely what we imagine.
            <br>This Rene Ricard of London looked 
            <br>nothing like the one who walked
            <br>Manhattan&rsquo;s streets. He more resembled</p>

            <p>Gary Indiana. The High Priestess 
            <br>of the Temple of Oshun says
            <br>mind my homework. But my Rene or Gary
            <br>gives permission to slough it off on you.</p>
          </section>
          <section class="prose bio">
            <small>Barry Schwabsky is a poet and art critic for <cite>The Nation</cite>. His most recent books are <cite>Trembling Hand Equilibrium</cite> (Black Square Editions, 2015) and <cite>The Perpetual Guest: Art in the Unfinished Present</cite> (Verso, 2016).</small>
          </section>  
      {% endblock %}