{% extends "layouts/issue.njk" %}
      {% block content %}
          <section class="poem">
            <h2 class="title">I’M LOUISA MAY ALCOTT</h2>
            <p>Surprise! I’m Louisa May Alcott
            <br>And let me introduce
            <br>My band, <cite>Little Women</cite>
            <br>Thank you, applause</p>
            <p>A few details &mdash;
            <br>Notice, we’re not
            <br>Women, obviously
            <br>That’s an easy one</p>
            <p>Yes, it’s all 
            <br>Showbiz, folks
            <br>You may ask yourselves
            <br>What the devil are five
            </p>
            <p>Burly raconteurs doing
            <br>Up on stage, leather
            <br>Mini-skirts over Levis
            <br>And southern-trucker cowboy boots
            </p>
            <p>All guitars and a full horn section
            <br>Meg on bass, Jo drums, Beth and Amy
            <br>Our dynamic rhythm aces, and me
            <br>Louisa May Alcott, front and center</p>
            <p>Seeing how none of us ever read the novel
            <br>We consider ourselves free
            <br>To invent, oh so theatrically &mdash;
            <br>Erect a dance hall on the tongue, parenthetically, or something</p>

            <p>It is the liberation of the transcendentalist within
            <br>It is Henry David Thoreau tromping
            <br>Ralph Waldo Emerson at canasta, bitches
            <br>It is a job: seasonal, intern popcorn</p> 

            <p>Vendor on the Underground Railroad
            <br>It is <cite>Pauline’s Passion and Punishment</cite>
            <br>By A.M. Barnard, secret nom de plume
            <br>Racy, adult, suffragette writing, and it rocks <em>hard</em></p>
          </section>
          <section class="prose bio"> 
            <small>Bill Evans is dangerously alive and intuitively in tune. He is the author of <cite>Modern Adventures</cite> (Spuyten Duyvil). &ldquo;These are the heartbeats of an ancient man looking at history from left to right and now staring us right in the eye. We are not alone.&rdquo; &mdash;Eileen Myles</small>
          </section>
      {% endblock %}    
