{% extends "layouts/issue.njk" %}
      {% block content %}
          <figure>
            <img src="../images/no13/yuen2.jpeg" alt="snake, gem, cloud" height="619" width="468"><figcaption><em>Shiny Symbols</em> 2016 archival ink on paper 7 x 9.25 in.</figcaption> 
          </figure>
          <figure>
            <img src="../images/no13/yuen.jpeg" alt="blueish painting" height="619" width="468"><figcaption><em>Bird Antenna</em> 2016 oil on panel 12 x 9 in.</figcaption> 
          </figure> 
          <section class="prose bio">
            <small>Charles Yuen lives and works in Brooklyn, NY.</small>
          </section>
      {% endblock %}