{% extends "layouts/issue.njk" %}
      {% block content %}
          <figure>
            <img src="../images/no13/bastidas.jpg" alt="leaves, rope footpath" height="589" width="704"><figcaption><em>One Sided</em> 2015 oil on linen. Courtesy of Nohra Haime Gallery</figcaption> 
          </figure>
          <section class="prose bio">
            <small>bio for hugo</small>
          </section>  
      {% endblock %}