{% extends "layouts/issueIndex.njk" %}
  {% block content %}
            <li><a href="hugo-bastidas.html">Hugo Bastidas</a></li> 
            <li><a href="peter-bushyeager.html">Peter Bushyeager</a></li>
            <li><a href="jan-castro.html">Jan Castro</a></li>
            <li><a href="martha-diamond.html">Martha Diamond</a></li>
            <li><a href="akeem-duncan.html">Akeem Duncan</a></li>
            <li><a href="bill-evans.html">Bill Evans</a></li>
            <li><a href="amy-hill.html">Amy Hill</a></li>
            <li><a href="wendy-klemperer.html">Wendy Klemperer</a></li>
            <li><a href="martha-king.html">Martha King</a></li>
            <li><a href="kimberly-lyons.html">Kimberly Lyons</a></li>
            <li><a href="nancy-mercado.html">Nancy Mercado</a></li>
            <li><a href="barry-schwabsky.html">Barry Schwabsky</a></li>
            <li><a href="sally-van-doren.html">Sally Van Doren</a></li>
            <li><a href="jean-wilkinson.html">Jean Wilkinson</a></li>
            <li><a href="trevor-winkfield.html">Trevor Winkfield</a></li>
            <li><a href="charles-yuen.html">Charles Yuen</a></li>
            <li><a href="susan-yung.html">Susan Yung</a></li>
{% endblock %}