{% extends "layouts/issueIndex.njk" %}
  {% block content %} 
            <li><a href="peter-bushyeager.html">Peter Bushyeager</a></li>
            <li><a href="martha-diamond.html">Martha Diamond</a></li>
            <li><a href="martha-king.html">Martha King</a></li>            
            <li><a href="nancy-mercado.html">Nancy Mercado</a></li>
            <li><a href="jean-wilkinson.html">Jean Wilkinson</a></li>
            <li><a href="charles-yuen.html">Charles Yuen</a></li>
            <li><a href="susan-yung.html">Susan Yung</a></li>  
          </ul>   
{% endblock %}