{% extends "layouts/issue.njk" %}
{% block style %} 
  <style>
    .poem .indent {text-indent: 2em; padding;font-size:0.9em;}
    h2:first-of-type; {padding-bottom:0;}
  </style>
{% endblock %}
      {% block content %}
          <section class="poem">
            <h2 class="title">Somewhere After</h2>
            <p class="indent"><cite>For Judy Pfaff</cite></p>
            <p>The uprooted tree cloaked in primordial ooze
            <br>rises like a candelabra dripping with sap.
            <br>Can we discover the origins of consciousness,
            <br>the turning gyres of immeasurable universes?</p>

            <p>Foucault&rsquo;s pendulums, suspended from roots
            <br>and heavens, suggest gravity; Tibetan mandalas
            <br>suggest a cosmic order once imagined, beatified 
            <br>bodies returned to sand, ash.</p> 

            <p>Peripheral orbs of vision, of petals, foliage,
            <br>circles within circles, planets glitter with
            <br>possibilities; ochre green and white original
            <br>gardens swim together, orbs of wonder.</p>

            <p>Earth’s core, its wounds may be 
            <br>as black and white as Egyptian calendars 
            <br>or glyphs showing a deceased ruler&rsquo;s
            <br>possessions, including children, ducks, rams, 
            <br>lions, oxen, the Southern Cross, crabs, slaves. 
            <br>Spirals of hope emerge from nebulae:
            <br>&ldquo;the centre cannot hold.&rdquo;</p>

            <p>Somewhere the plumb lines that here
            <br>sway with movements of air fall
            <br>away. We go after it full force:
            <br>joy, circles of color, after glow,
            <br>the after going after eons, after all.</p>

          </section>          
          <section class="prose bio">
            <small>Jan Garden Castro (www.jancastro.com) is a poet (<cite>The Last Frontier</cite>), art historian (books on Georgia O'Keeffe and Sonia Delaunay), and curator. She is Contributing Editor for <cite>Sculpture Magazine</cite> and her &ldquo;in the studio&rdquo; blog appears at www.sculpture.org.</small>
          </section>  
      {% endblock %}                