{% extends "layouts/issue.njk" %}
      {% block content %}
          <figure>
            <img src="../images/no13/wilkinson.jpg" alt="horse and rider" height="692" width="680"><!-- <figcaption><em>Fish in the Void</em></figcaption> --> 
          </figure>  
        </div><!-- end issue --> 
      {% endblock %}        