{% extends "layouts/issue.njk" %}
      {% block content %}
          <section class="poem">
            <h2 class="title">A Coat</h2>
            <p>She asks: do you have buttons for this coat
            <br>No, I have to say. I don’t. Therefore, the
            <br>Coat opens
            <br>Into waves of brown thread.
            <br>Buttons are lost rocks
            <br>I drop on the street
            <br>With popsicle sticks and napkins
            <br>And the moon tonight is
            <br>A button of ice behind
            <br>The coat of a cloud. 
            <br>A lacy gray diorama
            <br> in the laboratory of space.
            <br>A coat is an empty
            <br>Astronaut.
            <br>What a purple paper doll tore
            <br>Running home to her catalog.</p>

          </section>
          <section class="prose bio"> 
            <small>Kimberly Lyons is the author of books of poetry including <cite>Approximately Near</cite>  (may be downloaded at (http://www.metambesen.org/), <cite>Calcinatio</cite> (Faux Press), and <cite>Rouge</cite> (Instance Press). She’s published essays and given papers on works by Bernadette Mayer, Alice Notley, Pierre Joris, Joseph Ceravolo and Barbara Guest.  Lyons publishes Lunar Chandelier Press.</small>
          </section>
      {% endblock %}   