{% extends "layouts/issue.njk" %}
      {% block content %}
           <figure>
            <img src="../images/no13/diamond.jpg" alt="abstract painting" height="689" width="570"><figcaption>Untitled 2002-03, oil on panel, 12 x 10 in.</figcaption> 
          </figure>  
          <!-- <figure>
            <img src="../images/no12/luigi1.jpg" alt="abstract figures lanscape" height="664" width="550"><figcaption><em>Zugut,Tuk, and Tikut</em></figcaption> 
          </figure>  -->  
        </div><!-- end issue -->
      {% endblock %}