{% extends "layouts/issue.njk" %}
      {% block content %}
          <section class="poem pre">
            <h2 class="title">Hudson Slaps</h2><p>
sheee-ah    slap    ah-shee   that
a river is not cruel
we know that

yesterday a boy
drowned by that jetty
sliding off the rattling ice curd
he and his buddy tried to raft

shee-ah    that     ah-shee     slap
their plank and poles
rolled down toward Irvington

the senseless life support
sucked dirty water from his mouth, his
weeping buddy, blanked wrapped
huddled to avoid the rushing rescue squad

today,     ah-shee
upwind drags the tides
pulling the work of the world

a river isn&rsquo;t cruel
we know that
slap
that boy now flooded with 
the hopeless logic of embalming fluid

now everyone knows about his dirty death
            shee-ah
            you know
            slap

everyone rivers, exchanges, grinds
                        everyone  sorts,  dissolves,  rejoins
</p>
          </section>
          <section class="prose bio"> 
            <small>Martha King&rsquo;s short story collections include <cite>North &amp; South</cite>, <cite>Separate Parts</cite>, and <cite>Little Tales of Family and War</cite>. She has also published a poetry collection, <cite>Imperfect Fit</cite>,  and a 50-page excerpt from her memoir <cite>Outside Inside</cite> in  <cite>A Public Space</cite> magazine. She blogs at www.blog.basilking.net and, with Elinor Nauen, runs the Prose Pros reading series at SideWalk Caf&eacute;.</small>
          </section>
      {% endblock %}    