{% extends "layouts/issue.njk" %}
      {% block content %}
          <section class="poem">
            <h2 class="title">Catcalls to My Brain</h2>
            <p>No 1980’s tight young ass to pounce on anymore<br>
              No smooth skin to assault anymore<br>
              No frightened little girl to follow<br>
              Down cold shitty Lower East Side streets anymore</p>
            <p>Now-a-days the boys catcall my intellect<br> 
              Corner me in conference rooms<br>
              Universities<br>
              In restaurants</p>
            <p><em>¡¿Oye mami cuántos libros has leído?!</em></p>
            <p><em>¡No sabes na bruta!</em></p>
            <p><em>Where did you graduate from mami?!</em></p>
            <p><em>Your university degree means nada nena!</em></p>
            <p>
            They attempt to inflict<br>
            Injuries with blank pages<br>
            To drown me out<br>
            Under piles of exclusions<br>
            To erase my existence<br>
            To whittle me down<br>
            To a stub</p>
            <p>N o t h i n g</p>
            <p>Silence.</p>
            <p>These days my catcallers<br>
            Are the intelligentsia<br>
            Postmodern jeering elitists<br>
            Hyperbolic hipsters swooping in to take charge<br>
            Our modern-day land grabbers</p>
          </section>
          <section class="prose bio"> 
            <small>Nancy Mercado is the editor of the Nuyorican Women Writers Anthology in the Hunter College online literary journal. She is a guest curator for the Museum of American Poetics and assistant editor for Eco-poetry.org; a web site dedicated to addressing the issue of climate crises. She presents her work throughout the U.S. and abroad. http://www.nancy-mercado.com</small>
              </section>
      {% endblock %}    
