{% extends "layouts/issue.njk" %}
      {% block content %}
          <section class="poem">
            <h2 class="title">Nostalgia</h2>
            <p>1</p>
            <p>This isn't your first rodeo<br>
                You're a dog walker among many</p>
            <p><em>Volare</em> on the<br> 
                cafe sound system<br> 
                sung by Sinatra?</p> 
            <p>A man in a lab coat<br> 
              at the cash register<br>
              rain peeling the streets
                <p>The hiss of an ice cube<br> 
                  dissolving in hot tea</p>
                <p>7 years of peace on pills<br> 
                and 10% of profits to the planet</p>
                <p>2</p>
                <p><em>I drew a comic strip where muffins<br>
                kill each other with guns<br>
                and got away with it for six months</em></p>

                <p>Politics in a 10 by 10<br>
                touch it to make<br> 
                sure it's there</p>

                <p>Polar bear debits<br>
                securitized wine futures</p>

                <p><em>I can't make a new painting<br>
                without a dial tone</em></p>

                <p>Talking to yourself is<br> 
                not a vessel it's luggage<br>
                Singing helps time prepare for the kingdom</p>
              </section><!-- end poem  -->

              <section class="prose bio"> 
                <small>Peter Bushyeager's books include <cite>Vital Wires</cite>, <cite>Citadel Luncheonette</cite> and <cite>In the Green Oval</cite>. In addition to poetry, he writes articles and criticism which have appeared in publications that include <cite>Rain Taxi</cite>, <cite>Talisman</cite>, <cite>Poetry Project Newsletter</cite>, and <cite>The Encyclopedia of American Poetry &mdash; Twentieth Century</cite>. He's currently working on a new manuscript of poems.</small>
              </section>
      {% endblock %}                