{% extends "layouts/issue.njk" %}
{% block style %} 
  <style>
    .poem .indent {text-indent: 2em; padding;font-size:0.9em;}
    h2:first-of-type; {padding-bottom:0;}
  </style>
{% endblock %}
      {% block content %}
          <section class="poem">
            <h2 class="title">Scene</h2>
            <p class="indent"><cite>After TM Davy&rsquo;s Candela (Afterimage Golden)</cite></p>
            <p>The impending light
            <br>pushes out from 
            <br>an unstable center.</p>
            <p>It tries to convert
            <br>flux into stasis.  I
            <br>watch it from my</p>
            <p>indolent perch
            <br>on the couch. If it
            <br>pushes too hard</p>
            <p>we will capsize. 
            <br>I prefer to regard
            <br>it from across</p>
            <p>the room, letting 
            <br>it guide me without
            <br>burning a hole in my sight.
            </p>
          </section>

          <section class="poem">
            <h2 class="title">Palette</h2>
              <p>Blue is not forgotten.
              <br>Red reigns next to it
              <br>conquering yellow which
              <br>quivers under the bench</p>
              <p>in the waiting room, hiding
              <br>from the consequence of 
              <br>green.  Forgive me for being
              <br>white. I don&rsquo;t understand</p>
              <p>the nature of color.  I paint
              <br>myself with stripes to clarify
              <br>my intentions.  Every once
              <br>in a while orange bleeds</p>
              <p>from the tip of my pen
              <br>into my pupil and my purple 
              <br>eye sees the sun running
              <br>to the end of the world.</p>
              
          </section>          
          <section class="prose bio">
            <small>Sally Van Doren is the author of three poetry collections, <cite>Possessive</cite>, (LSU Press 2012) <cite>Sex at Noon Taxes</cite> (2008) which received the Walt Whitman Award from the Academy of American Poets, and the forthcoming, <cite>Promise</cite>. Her ongoing poem, <cite>The Sense Series</cite>, served as the text for a multi-media performance at the Contemporary Art Museum St. Louis. She teaches at the 92nd Street Y in New York City and is a curator for the St. Louis Poetry Center. http://www.sallyvandoren.com</small>
          </section>  
      {% endblock %}            