{% extends "layouts/issue.njk" %}
      {% block content %}
        <section class="poem">
          <h2 class="title">VIGNETTES</h2>
          <p>1</p>
          <p>She'd say
            <br>&ldquo;Always eat in
            <br>SILENCE&rdquo;
            <br>&ldquo;N&rsquo;er do or say violent
            <br>things on Chinese
            <br>celebrations&rdquo;
          </p>
          <p>Daddy was Americanized
            <br>who fought in WWII,
            <br>North Africa
            <br>as a munition bearer,
            <br>lik'd gamblin'
            <br>drivin' to the forest
            <br>n' go fish in'.
            <br>He'd live in the attic
            <br>with HOUSE &amp; GARDEN
            <br>next to his bed,
            <br>Just gettin' drunk
            <br>&amp; ramblin' on &amp; on
            <br>to defy racism &hellip;
            <br>wantin' to forget
            <br>the so-called responsibilities
            <br>to fulfill grandpa's dream
            <br>agreement of
            <br>marrying his daughter in China
            <br>As a mail-order bride
            <br>&amp; sire a first son in America
            <br>Unfortunately,
            <br>I got born
            <br>Female
            <br>with a sister
            <br>&amp; a brother
          </p> 
        </section>
        <section class="prose bio">
          <small>Susan Yung  Domestic–violence; misogynist–hater; anti–racist; democractic–anarchist; ghetto–girl; Chinatown–Harlem; East Village–West Village; homesteader–gentrifier; yuppie–squatter; homeless–sheltered; American–Asian; World–Traveller; Adventress–Common–Law–Wife; Photographer–Videographer; Martial–Fine–Artist; Musician–Drummer; Artist–Scientist; Geologist–Librarian; Mathematician–Designer; Collector–Exhibitionist; Buyer–Seller; Cook–Politician; Migrant–worker; Independent–Dependent; Pacifist–Activist.</small>
        </section>
      {% endblock %}                
