{% extends "layouts/issue.njk" %}
      {% block content %}
          <figure>
            <img src="../images/no13/winkfield.jpg" alt="lemons, crosses, shapes" height="640" width="616"><figcaption><em>An Undisclosed Location</em> 2016 acrylic on linen 31 x 30 &frac12;in.</figcaption> 
          </figure>
          <section class="prose bio">
            <small>Trevor Winkfield exhibits his paintings at Tibor de Nagy.  Photo: Bill Orcutt</small>
          </section>  
      {% endblock %}