{% extends "layouts/issue.njk" %}
      {% block content %}
          <figure>
            <img src="../images/no13/klemperer.jpg" alt="metal dog" height="596" width="704"><figcaption><em>Fenrir Shadow</em></figcaption> 
          </figure>
          <section class="prose bio">
            <small>  Wendy Klemperer earned a BA in biochemistry at Harvard before moving to NYC to pursue art full time, earning a B.F.A. in sculpture at Pratt Institute in 1983. She has received residency grants from the Skowhegan School, The MacDowell Colony, The Ucross Foundation, Sculpture Space in Utica, Denali National Park, and SIAS University in Xinzheng, China. Her work has been exhibited extensively in NYC and throughout the United States.</small>
          </section>  
      {% endblock %}